/*.wrapper {
	width: 100%;
}*/

body {
	font-size: 12px;
}

.panel-heading {
	height: 4.0em;
}

#animus {
	margin: 0 auto;
}

.ani-title {
	max-height: 1.9em;
	max-width: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: left
}

.title {
	font-size: 1.5em;
	font-weight: 800;
	
}
.studio {
	float:right;
	font-size: 1.1em;
	font-weight: 800;
}
.animu-single {
	height: 24.4em;
	position:relative;
}

.animu-desc {
	font-size: 1.27em;
	padding: 0.4em;
	height: 10.7em;
	overflow: auto;
}

.animu-single img {
	max-width: 9em;
	float: left;
	margin: 0.4em 0 0 0.4em;
}

.animu-footer {
	padding: 0.3em;
	background: #ddd;
	font-size: 1.08em;
	border-top: 1px solid #ccc;
	position: absolute;
	width: 100%;
	bottom: 0px;
	height: 6.1em;
	max-height: 6.1em;
}